.btn{
    padding: 1rem;
    background-color: red;
    color: white;
    border-radius: 8px;
    border-width: 0;
    max-width: 8rem;
}
.btn:active{
    background-color: rgb(187, 29, 29);
}
.main{
    display: flex;
    background-color: orange;
    align-items: center;
    flex-direction: column;
}
body{
    background-color: black;
}